#dth{

position: fixed;top:50px;

left:-282px;

z-index: 999;

background:#F8F8F8;

}



#dth form{

float: left;

border: 1px solid #999;

padding: 10px;

border-radius:5px;

}

#dth .pull_feedback{

font-family:Calibri;

 /*background: #0079c0;*/

 background: #4B5E71;

 border-bottom-left-radius:1em;

 border-bottom-right-radius:1em;

 height: 35px; 

 line-height : 35px;

 width: 50%;

 right:-88px;

 position: absolute;

 text-decoration:none;color: #fff; 

 font-size: 18px;

 top: 40%;

 margin-top:5%;

 text-align:center;

  transform: rotate(-90deg);

 -webkit-transform: rotate(-90deg);

 -moz-transform: rotate(-90deg);

  -o-transform: rotate(-90deg); 

 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
 
 _display: block !important;

 } 

#dth .pull_feedback:hover{

background-position: center right;

 background: #80171f;

color: #fff;

}



#dth #tab-text{

top:150px;

}

#dth form input[type="button"]{

float: right;

background:#0079C0;

}

#dth form textarea{

width:250px;

height:70px;

border: 1px solid #D9D9D9;	

font-size: inherit;

}

#dth form input[type="text"], #dth form input[type="email"]{

width:250px;

height:30px;

border: 1px solid #D9D9D9;

font-size: inherit;

}

#dth h4{

font-size:16px;

height:30px;

text-align:center;

line-height:30px;

display: block;

border-bottom:1px solid #EEEEEE;

}

#dth .contactDts{

height:40px;

font-weight:bold;

color:#000000;

}

#dth .contactDts img{

padding:15px;

}

#dth .captchaDts{

padding:10px;

}

#dth .errText{

text-align:center;

color:#FF0000;

}

#dth .successText{

text-align:center;

}